@model IEnumerable<EmployeeDto>
@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">All Employees</h1>



<div class="mt-2 mb-5">
    <form asp-action="index" class="row justify-content-between align-items-center my-3 px-4" method="get">

        <a class="col-sm-2 btn btn-outline-primary" asp-controller="Employees" asp-action="Create"> <i class="fa-solid fa-plus me-2"></i> Create Employee</a>

        <div class="col-sm-6 d-flex justify-content-end">
          
            <div class="col-10">
                <input class="form-control" type="text" name="EmployeeSearchName" placeholder="Search Employee By Name" />
            </div>
            <div class="col-2 text-end">
                <input type="submit" class="btn btn-primary w-75 " value="Search" />
            </div>

        </div>
    </form>
</div>


@if (Model.Any())
{
    <table class="table table-hover mt-3">
        <thead class="text-center ">
            <tr>
                <th>@Html.DisplayNameFor(e => e.ImageName)</th>
                <th>@Html.DisplayNameFor(e => e.Name)</th>
                <th>@Html.DisplayNameFor(e => e.Email)</th>
                <th>@Html.DisplayNameFor(e => e.EmployeeType)</th>
                <th>@Html.DisplayNameFor(e => e.Age)</th>
                <th>@Html.DisplayNameFor(e => e.DepartmentName)</th>
                <th>@Html.DisplayNameFor(e => e.Salary)</th>
                <th>@Html.DisplayNameFor(e => e.IsActive)</th>
                <th>@Html.DisplayNameFor(e => e.Gender)</th>
                <th>Details </th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var employee in Model)
            {
                <tr>
                    <td class="align-middle">

                        @if (string.IsNullOrEmpty(employee.ImageName) && employee.Gender == "male")
                        {
                            <img src="~/Files/images/MalePlaceholder.webp" class="img-fluid rounded-circle mb-3" alt="Employee Image" style="width: 50px; height: 50px;">
                        }
                        else if (string.IsNullOrEmpty(employee.ImageName) && employee.Gender == "female")
                        {
                            <img src="~/Files/images/FemalePlaceholder.png" class="img-fluid rounded-circle mb-3" alt="Employee Image" style="width: 50px; height: 50px;">
                        }
                        else
                        {
                            <img src="~/Files/images/@employee.ImageName" class="img-fluid rounded-circle mb-3" alt="Employee Image" style="width: 50px; height: 50px;">

                        }

                    </td>
                    <td class="align-middle">@employee.Name</td>
                    <td class="align-middle text-primary">@employee.Email</td>
                    <td class="align-middle">@employee.EmployeeType</td>
                    <td class="align-middle">@employee.Age</td>
                    <td class="align-middle">@(string.IsNullOrEmpty(employee.DepartmentName) ? "_" : employee.DepartmentName) </td>
                    <td class="align-middle">@Html.DisplayFor(E => employee.Salary)</td>
                    <td class="align-middle">
                        <i class="fa-@(employee.IsActive ? "solid fa-circle-check text-success " : "solid fa-circle-xmark text-danger")"></i>
                    </td>
                    <td class="align-middle">@employee.Gender</td>

                    <td class="align-middle">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@employee.Id">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@employee.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@employee.Id">
                            <i class="fas fa-trash"></i>
                        </button>
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal-@employee.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure to Delete this Employee with Name @employee.Name ?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" asp-action="Delete" asp-controller="Employees" asp-route-id="@employee.Id" class="mt-4">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3">
        <h2>No Employees Found !!</h2>
    </div>
}



@if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
{
    <div aria-live="polite" aria-atomic="true" class="toast-container position-fixed p-3" style="bottom: 25px; right:25px; z-index: 100;">
        <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto text-success">Success!!</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["Message"]
            </div>
        </div>
    </div>

} 



